<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">    
    <title>Document</title>

</head>
<body>
    <h1>Todo list:</h1>
    <ul>
        <% items.forEach(element =>  { %>
        <li class="item" data-id='<%= element._id%>'>
            <span class='<%= element.completed === true ? 'completed' : 'uncompleted'%>'><%= element.thingTodo %></span>
            <span class="del"> Delete </span>
        </li>
        <% } )%>
    </ul>

    <h2>Left to do: <%= left %></h2>
    <h2>Add a todo: </h2>
    <form action="/todos/createTodo" method="post">
        <input type="text" placeholder="Thing to do" name="todo">
        <input type="submit" value="create">
    </form>
    <script src="/js/main.js"></script>
</body>
</html>